/*
=============== 
Variables
===============
*/

:root {
  /* main colors */
    --clr-dark-blue: #044389;
    --clr-blue: #27bfe3;
    --clr-light-blue: #7ec4cf;
    --clr-orange:#eb5e28;
    --clr-light-orange: #f7a072;
    --clr-brown:#fcf6b1;
    --clr-light-brown:#eddea4;
  /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10:hsl(207, 36%, 95%);
  /* other colors  */
    --clr-white: #fdfdfc;
    --clr-black: #02020a;
    --clr-platinum: #E5E5E5;
  /* font families */
    --ff-primary:'Philosopher', sans-serif;
    --ff-secondary:'Dancing Script', cursive;
  /* transition */
    --transition: all 0.3s linear;
  /* spacing */
    --spacing: 0.25rem;
  /* radius */
    --radius: 0.65rem;
  /* box shadow */
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  /* width */
    --max-width: 1280px;
}


/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width:375px){
  *{
    overflow-x: hidden;
    }
}

body {
    font-family: var(--ff-primary);
    background: var(--clr-white);
    color: var(--clr-grey-5);
    line-height: 1.5;
    font-size: 0.875rem;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
img{
    width: 100%;
    display: block;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}
h1 {
    font-size: 3rem;
}   
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.9rem;
}
p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
    h1 {
    font-size: 4rem;
    }
    h2 {
    font-size: 2.5rem;
    }
    h3 {
    font-size: 1.75rem;
    }
    h4 {
    font-size: 1.1rem;
    }
    body {
    font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
    line-height: 1;
    }
}

/*  global classes */

.btn {
    text-transform: uppercase;
    background: var(--clr-light-blue);
    color: var(--clr-white);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    transition: var(--transition);
    font-size: 0.9rem;
    border: 2px solid var(--clr-light-blue);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    /* border-radius: var(--radius); */
}
.btn:hover {
    color: var(--clr-dark-blue);
    background: transparent;
    border-color: var(--clr-dark-blue);
}

/* section */

.section {
    padding: 5rem 0;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1280px;
}
@media screen and (min-width: 992px) {
    .section-center {
    width: 95vw;
    }
}

.underline{
    width: 3rem;
    height: 0.25rem;
    margin-bottom: 1.2rem;
    background: var(--clr-blue);
    /* margin-left: auto; */
    /* margin-right: auto;  */
    transition: all 3s;
}

.section-title{
    padding:4rem 0 2rem 2rem;
    color: var(--clr-orange);
    max-width:1280px ;
    margin:0 auto;
}
.section-title:hover .underline{
    width: 12rem;
    background: var(--clr-orange);
}







/* 
=========================
NAVBAR
=========================
*/

.nav-header{
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 1rem 0rem 1rem;
	max-width: 1280px;
}
.nav-logo{
	font-family: var(--ff-secondary);
	color: var(--clr-white);
	background: var(--clr-blue);
	padding: 0.3rem 0.6rem;
	transition: var(--transition);
	border: 3px solid var(--clr-blue);
}
.nav-logo:hover{
	background: transparent;
	color: var(--clr-blue);
}
.nav-btn{
	padding: 5px;
	border: 2px solid var(--clr-blue);
	align-self: center;
	background: var(--clr-blue);
}
.nav-bar1,.nav-bar2,.nav-bar3{
	height: 5px;
	width: 35px;
	background: var(--clr-white);
	margin: 5px 0;
	transition: var(--transition);
}
.turn .nav-bar1{
	transform: rotate(-45deg) translate(-7px, 6px);
}
.turn .nav-bar2{
	opacity: 0;
}
.turn .nav-bar3{
	transform: rotate(45deg) translate(-7px,-8px);
}

/* 
=========================
HERO
=========================
*/

.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../images/hero-bcg.jpg') center/cover no-repeat fixed;
    min-height: 100vh;
    position: relative;
}
.hero-banner{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.hero-title{
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--clr-white);
}
.hero-underline{
    margin: 0 auto;
    width: 15rem;
    height: 0.35rem;
    margin-bottom: 1rem;
}
.hero-subtitle{
    color: var(--clr-white);
    font-family: var(--ff-secondary);
}
.hero-btn{
    font-size: 1.5rem;
    margin-top: 1.5rem;
    border-radius: var(--radius);
}
.hero-btn:hover{
    color: var(--clr-white);
    border-color: var(--clr-white);
}
@media screen and (max-width:520px){
    .hero-title{
        font-size: 3.5rem;
    }
    .hero-btn{
        font-size: 1.2rem;
    }
}



/* 
=========================
SKILLS
=========================
*/
.skills{
    text-align: center;
}
.skills .underline{
    margin-left: auto;
    margin-right: auto; 
}
.skill{
    padding:0 2rem 0.5rem 2rem;
}
.skill-icon{
    color: var(--clr-blue);
		font-size: 3rem;
		transition: all 2s;
		border-radius: 50%;
		padding: 1.2rem;
}
.skill-icon:hover{ 
	background: var(--clr-blue);
}
.skill-icon .fas{
	transition: all 1s;
}
.skill-icon:hover .fas{
	transform: scale(0.8);
	color: var(--clr-white);
}
.skill-title{
		margin-top: 1rem;
    font-size: 1.6rem;
    color: var(--clr-blue);
}
.skill-text{
    max-width: 25rem;
    margin: 1rem auto 2rem auto;
}
@media screen and (min-width:768px){
    .skills-center{
    display: grid;
    grid-template-columns:1fr 1fr;
    place-items: center;
    }
}
@media screen and (min-width:1280px){
    .skills-center{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}



/* 
=========================
ABOUT
=========================
*/

.about{
    background: var(--clr-grey-10);
}
.about-info{
		margin-bottom: 2rem;
		margin-right: 2rem;
}
.about-title{
    color: var(--clr-dark-blue);
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.about-text{
    max-width: 40rem;
}
.about-video{
    max-width: 32.5rem;
	max-height: 25.5rem;
    border-radius: var(--radius);
}

@media screen and (min-width:992px){
    .about-center{
        display: grid;
        grid-template-columns: 1fr auto;
		}
}
@media screen and (max-width:578px){
    .about-video{
    max-width: 20rem;
	max-height: 13.5rem;
}
}



/* 
=========================
SERVICES
=========================
*/

.service{
	max-width: 35rem;
	margin-bottom: 3rem;
	background: var(--clr-platinum);
	border-radius: var(--radius);
    text-align: center;
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    margin: 0 auto 3rem auto;
}
.service:hover{
    box-shadow: var(--dark-shadow);
}
.service-icon{
    margin-right: 1rem;
	color: var(--clr-dark-blue);
    font-size: 1.3rem;
    transition: var(--transition);
}
.service:hover .service-icon{
    color: var(--clr-white);
}
.service-title{
    background: var(--clr-blue);
    padding: 0.8rem 0;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--clr-white);
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    text-align: center;
}
.service-text{
	max-width: 30rem;
	margin: 0 auto;
	padding: 1rem 2rem;
}

@media screen and (min-width:768px){
	.services-center{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem 3rem;
	}
}
@media screen and (min-width:1080px){
	.services-center{
	grid-template-columns: 1fr 1fr 1fr;
	}
}




/* 
=========================
PORTFOLIO
=========================
*/
.portfolio{
    background: var(--clr-grey-10);
}
.single-portfolio{
    border-radius: var(--radius);
    background: var(--clr-grey-8);
    transition: var(--transition);
    position: relative;
    overflow: hidden;
}
.single-portfolio:hover .portfolio-image{
    opacity: 0.6;
}
.single-portfolio:hover .portfolio-info{
    margin: 0;
}
.portfolio-image{
    border-radius: var(--radius);
    transition: all 2s;
}
.portfolio-info{
    padding: 0.8rem 1.2rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    align-items: center;
    background: var(--clr-grey-8);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    transition: all 2s;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: -100px;
}
.portfolio-info-title{
    font-size: 1.5rem;
    color: var(--clr-dark-blue);
}
.portfolio-icon .fas{
    color: var(--clr-blue);
    background: var(--clr-white);
    border-radius: 50%;
    padding:0.4rem;
    transition: var(--transition);
}
.portfolio-icon:hover .fas{
    background: var(--clr-dark-blue);
    transform: translateY(-5px);
}
.portfolio-link{
    text-align: center;
    margin: 3rem auto;
    margin-bottom: 0;
}
.portfolio-center{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(330px,1fr));
    gap: 3rem 2rem;
}




/* 
=========================
STATS
=========================
*/

.stat{
    text-align: center;
    margin-bottom: 2rem;
}
.stat-icon{
    color: var(--clr-blue);
    font-size: 3rem;
}
.stat-number{
    font-size: 2.5rem;
    color: var(--clr-black);
    font-weight: bold;
    transition: var(--transition);
}
.stat:hover .stat-number{
    transform: scale(1.2);
}
.stat-title{
    text-transform: capitalize;
    font-size: 2rem;
}

/* 
=========================
TEAM
=========================
*/

.team{
    background: var(--clr-grey-10);
}
.member{
    width: 100%;
    background: var(--clr-white);
    margin-bottom: 2.5rem;
    box-shadow: var(--light-shadow);
    border-radius: var(--radius);
    transition: var(--transition);
}
.member:hover{
    transform: scale(1.01);
    box-shadow: var(--dark-shadow);
}
.member-image{
    height: 17rem;
    object-fit: cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius); 
}
.member-info{
    text-align: center;
    padding: 1rem 1.5rem 0.5rem 1.5rem;
}
.member-name{
    color: var(--clr-blue);
    font-weight: bolder;
    font-size: 1.5rem;
}
.member-job{
    font-size: 1.1rem;
    text-transform: capitalize;
}
.member-social{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    color: var(--clr-blue);
    font-size: 1.2rem;
}
.member-icon{
    justify-self: center;
    transition: var(--transition);
}
.member-icon:hover{
    color: var(--clr-dark-blue);
    cursor: pointer;
}
.team-center{
    text-align: center;
}
@media screen and (min-width:676px){
    .team-center{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem 3rem;
    }
}
@media screen and (min-width:1170px){
    .team-center{
        grid-template-columns: repeat(4,1fr);
        gap: 0rem 3rem;
    }
    .member{
        margin-bottom: 0;
    }
}



/* 
=========================
REVIEWS
=========================
*/

.reviews{
    background: rgb(80,80,80);
}
.review-image{
    border-radius: 50%;
    margin-bottom: 1.5rem;
    height: 18rem;
    object-fit: cover;
}
.review-name{
    color: var(--clr-blue);
    font-size: 1.4rem;
}
.review-job{
    color: var(--clr-black);
    font-size: 1.1rem;
}
.review-text{
    color: var(--clr-white);
    max-width: 25rem;
    margin: 0 auto;
    font-size: 0.9rem;
}

.reviews-center{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 3rem 4rem;
}




/* 
=========================
CONTACT
=========================
*/

.contact{
    background: var(--clr-light-blue);
}
.contact-center{
    color: var(--clr-white);
    margin-top: 2rem;
}
.contact-info{
    margin-bottom: 2.5rem;
}
.contact-info-item{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.form-item{
    background: transparent;
    outline: none;
    color: var(--clr-black);
    font-size: 1.4rem;
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    border: none;
    border-bottom: 4px solid var(--clr-white);
}
.form-item::placeholder{
    color: var(--clr-white);
    text-transform: capitalize;
    padding-bottom: 1rem;
}
.submit-btn{
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 100%;
    border-radius: var(--radius);
    font-size: 1.2rem;
    text-transform: uppercase;
    color: var(--clr-white);
    background: #505050;
    letter-spacing: var(--spacing);
    cursor: pointer;
    transition: var(--transition);
}
.submit-btn:hover{
    background: var(--clr-white);
    color: #505050;
    font-weight: bold;
    border: 4px solid #505050;
}
@media screen and (min-width:776px){
.contact-center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 4rem;
}
.contact-info-item{
    font-size: 1.8rem;
}
}


/* 
=========================
FOOTER
=========================
*/

.footer{
    background: rgb(20,20,20);
    text-align: center;
}
.footer-center{
    padding: 3rem 0;
}
.footer-info{
    margin-bottom: 2.5rem;
}
.footer-text{
    font-size: 1.2rem;
    color: var(--clr-grey-5);
    font-weight: 400;
}
.footer-icons{
    display: grid;
    grid-template-columns: repeat(4,auto);
    place-items: center;
    width: 30%;
    margin: 0 auto;
}
.footer-icon{
    color: var(--clr-orange);
    font-size: 1.5rem;
    transition: var(--transition);
}
.footer-icon:hover{
    color: var(--clr-light-orange);
}
.footer-icon:hover .fab{
    transform: scale(1.1);
}


